.row {
  display: flex;
  width: 100%;
  height: 35vw;
  padding-left: 50px;
  padding-right: 50px;
}

.right{
    width: 70%;
    height: 100%;
    overflow-y: hidden;
}
.left{
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}


@media screen and (max-width: 1150px){
  .left{
    display: none;
  }
  .row{
    margin-left: 14vw;
    padding-left: 0px;
  padding-right: 0px;
  }
}