.sidebar {
  background: none !important;
  text-align: start;  
  width: 20vw;
  .sidebarLink {
    display: flex;
    color: #cccccc;
    padding: 5px 10px;
    text-align: center;
    background: #194488;
    border-bottom: 1px solid #b0caf3;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
    text-decoration: none;
 
   
    &:hover {
      background: #fb5d5e;
      color: #fff;
    }
  }
  .dropdownamenu {
    position: absolute;
    list-style: none;
    text-align: start;
    height: 508px;   
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 70px;
  
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    /* Track */
  
    &::-webkit-scrollbar-track {
      background: #5f74b8;
    }
  
    /* Handle */
  
    &::-webkit-scrollbar-thumb {
      background: rgb(0, 81, 255);
    }
  }
  
  
  @media screen and (max-width: 1190px){
    .dropdownamenu {
        position: absolute;
        top: auto;
        list-style: none;
        text-align: start;
        max-height: 504px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
   
  }
  
  @media screen and (max-width: 1026px){
    .dropdownamenu {
        position: absolute;
        top: auto;
        list-style: none;
        text-align: start;
        max-height: 504px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    
  }
  
    @media screen and (max-width: 956px){
        .dropdownamenu {
            position: absolute;
            top: auto;
            list-style: none;
            text-align: start;
            max-height: 504px;
            overflow-y: scroll;
            overflow-x: hidden;
          }
      
    }
  @media screen and (max-width: 750px){
    .dropdownamenu {
        position: absolute;
        top: auto;
        list-style: none;
        text-align: start;
        max-height: 504px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
        
  }
  
  
  
  @media screen and (max-width: 656px){
    .dropdownamenu {
        position: absolute;
  
        list-style: none;
        text-align: start;
        max-height: 504px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
  
  }
  .dropdownLink {    
    display: block;
    color: #414141;
    padding: 5px 10px 5px 15px;
    background: #f2f8ff;
    border-bottom: 1px solid #b0caf3;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 290px;

    &:hover {
      background: #fb5d5e;
      color: #fff;
    }
  }

  .pro-sidebar {
    width: 100% !important;
  }

  .sidebar__item {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1290px) {
  .sidebar{
    color: violet;
  }
  
}