.dropdownamenu {
  position: absolute;
  list-style: none;
  text-align: start;
  max-height: 608px;
  overflow-y: scroll;
  overflow-x: hidden;


  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */

  &::-webkit-scrollbar-track {
    background: #5f74b8;
  }

  /* Handle */

  &::-webkit-scrollbar-thumb {
    background: rgb(0, 81, 255);
  }
}

@media screen and (max-width: 1190px){
  .dropdownamenu {
      position: absolute;
      top: 2.5vw;
      list-style: none;
      text-align: start;
      max-height: 504px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
 
}

@media screen and (max-width: 1026px){
  .dropdownamenu {
      position: absolute;
      top: 3vw;
      list-style: none;
      text-align: start;
      max-height: 504px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  
}

  @media screen and (max-width: 956px){
      .dropdownamenu {
          position: absolute;
          top: 3.4vw;
          list-style: none;
          text-align: start;
          max-height: 504px;
          overflow-y: scroll;
          overflow-x: hidden;
        }
    
  }
@media screen and (max-width: 750px){
  .dropdownamenu {
      position: absolute;
      top: 4.2vw;
      list-style: none;
      text-align: start;
      max-height: 504px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
      
}



@media screen and (max-width: 656px){
  .dropdownamenu {
      position: absolute;
      top: 8vw;
      list-style: none;
      text-align: start;
      max-height: 504px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

}