.navamenu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  height: 30px;
}

.navaitem {
  display: flex;
  margin-left: 40px;
  align-items: center;
  font-size: 14.2px;
}

.navaitemSVG {
  display: flex;
  align-items: center;
  margin-left: 40px;
}


.navaitemOther {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: space-between;
  text-transform: uppercase;
}

.navalinks {
  color: white;
  text-decoration: none;
}

.navaitemOther:hover {
  color: #FF605E;

}

@media screen and (max-width: 1290px){
  .navamenu {//ul    
    margin: 0;
    padding: 0;
    
    overflow: scroll;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: .2px;
      width: .1px;
    }
  
    /* Track */
  
    &::-webkit-scrollbar-track {
      background: #5f74b8;
    }
  
    /* Handle */
  
    &::-webkit-scrollbar-thumb {
      background: rgb(0, 81, 255);
    } 
  }
  .navaitem{
    display: none;
  }

  .navaitemSVG {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1026px){

  .navamenu {//ul    
    margin: 0;
    padding: 0;
    
    overflow: scroll;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: .2px;
      width: .1px;
    }
  
    /* Track */
  
    &::-webkit-scrollbar-track {
      background: #5f74b8;
    }
  
    /* Handle */
  
    &::-webkit-scrollbar-thumb {
      background: rgb(0, 81, 255);
    } 
  }
  .navaitemSVG {
    display: flex;
    align-items: center;

    margin-left: 10px;
  }
}

  @media screen and (max-width: 956px){
    .navamenu {//ul    
      margin: 0;
      padding: 0;
      
      overflow: scroll;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: .2px;
        width: .1px;
      }
    
      /* Track */
    
      &::-webkit-scrollbar-track {
        background: #5f74b8;
      }
    
      /* Handle */
    
      &::-webkit-scrollbar-thumb {
        background: rgb(0, 81, 255);
      } 
    }
    
    .navaitemSVG {
      display: flex;
      align-items: center;
     
      margin-left: 10px;
    }
  }
    @media screen and (max-width: 750px){

      .navamenu {//ul    
        margin: 0;
        padding: 0;
        
        overflow: scroll;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          height: .2px;
          width: .1px;
        }
      
        /* Track */
      
        &::-webkit-scrollbar-track {
          background: #5f74b8;
        }
      
        /* Handle */
      
        &::-webkit-scrollbar-thumb {
          background: rgb(0, 81, 255);
        } 
      }
      .navaitemSVG {
        display: flex;
        align-items: center;
       
        margin-left: 10px;
      }
}

@media screen and (max-width: 656px){
  .navamenu {//ul    
    margin: 0;
    padding: 0;
    
    overflow: scroll;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: .2px;
      width: .1px;
    }
  
    /* Track */
  
    &::-webkit-scrollbar-track {
      background: #5f74b8;
    }
  
    /* Handle */
  
    &::-webkit-scrollbar-thumb {
      background: rgb(0, 81, 255);
    } 
  }
  
  .navaitemSVG {
    display: flex;
    align-items: center;
  
    margin-left: 10px;
  }
}

@media screen and (max-width: 656px){

  .navamenu {//ul    
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: scroll;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: .2px;
      width: .1px;
    }
  
    /* Track */
  
    &::-webkit-scrollbar-track {
      background: #5f74b8;
    }
  
    /* Handle */
  
    &::-webkit-scrollbar-thumb {
      background: rgb(0, 81, 255);
    } 
  }
  

  .navaitemOther {//except svg and category
    margin-right: 30px;
    float: left;
  }



}

  




