.navbar { 
  height: 2.4vw;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.navamenu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
}

.navaitem {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 14.2px;
}

.navaitemSVG {
  display: flex;
  align-items: center;
  height: 80px;
}


.navaitemOther {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: space-between;
  text-transform: uppercase;
}

.navalinks {
  color: white;
  text-decoration: none;
}

.navaitemOther:hover {
  color: #FF605E;

}

.faabars {
  color: #fff;
}

@media screen and (max-width: 1290px){
  .navaitem{
    display: none;
  }
  .navaitemSVG {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1026px){
  .navbar { 
    height: 2.9vw;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .navaitemSVG {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 10px;
  }
}

  @media screen and (max-width: 956px){
    .navbar { 
      height: 3.6vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
    .navaitemSVG {
      display: flex;
      align-items: center;
      height: 80px;
      margin-left: 10px;
    }
  }
    @media screen and (max-width: 750px){
      .navbar { 
        height: 6.5vw;
        display: flex;
        justify-content: center;
        align-items: center; 
      }
      .navaitemSVG {
        display: flex;
        align-items: center;
        height: 80px;
        margin-left: 10px;
      }
}

@media screen and (max-width: 656px){
  .navbar { 
    height: 6.7vw;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .navaitemSVG {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 656px){
  .navaitemOther{
    font-size: 1.5vw;
  }
  .navaitemSVG {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 10px;
  }
}

  




